<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tbody>
    <tr th:each="dataItem : ${dataItemForm.dataItems}">
        <td>
            <p><a>id:</a><a th:text="${dataItem.id}">xxx</a></p>
            <p><a>タイトル:</a><a th:text="${dataItem.title}">xxx</a></p>
            <p><a>写真:</a><img th:src="${dataItem.picture}"></p>
            <p><a>説明:</a><a th:text="${dataItem.description}">xxx</a></p>
            <p><a>価格:</a><a th:text="${dataItem.price}">xxx</a></p>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/picturetest}" th:object="${pictureForm}" method="post" enctype="multipart/form-data">
    ファイルを選択： <input type="file" th:field="*{picture}" /><br /> <input type="submit" value="送信する" />
</form>

</body>
</html>